/* Common styling for both h1 and p tags */
.fb-text-style {
    font-family: sans-serif;
    text-align: center;
  }
  
  /* Specific styling for the h1 tag */
  h1.fb-text-style {
    color: #1877F2;
  }
  
  /* Specific styling for the p tag */
  p.fb-text-style {
    font-size: 20px;
    font-style: italic;
    font-weight: bold;
    color: grey;
  }
  