/* Body styling */
body {
    background-color: #000000;
    margin: 0;
    font-family: "Montserrat", sans-serif;
    color: #f1f1f1;
  }
  
  /* Title styling */
  h1 {
    text-align: center;
    font-family: "Bebas Neue", sans-serif;
    color: #f1f1f1;
    margin-top: 20px;
  }
  
  #subtitle {
    text-align: center;
    font-family: "Montserrat", sans-serif;
    margin-bottom: 40px;
  }
  
  /* Flexbox container styling */
  .flexboxContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5%;
    width: 100%;
    height: 500px;
  }
  
  /* Styling for individual boxes */
  .flexboxContainer > div {
    width: 20%;
    height: 50%;
    background-image: linear-gradient(to right, rgba(12, 62, 224, 0), rgb(150, 105, 47));
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5%;
    padding: 3%;
    border-radius: 60px;
    transition: background-color 0.3s, box-shadow 0.3s;
    cursor: pointer;
  }
  
  /* Styling for hover effects */
  .flexboxContainer > div:hover {
    background-color: rgb(5, 74, 30);
    box-shadow: 0 0 20px 10px rgb(5, 74, 30); 
  }
  
  /* Anchor tag styling */
  .flexboxContainer > div a {
    text-decoration: none;
    color: #f1f1f1;
    font-family: "Montserrat", sans-serif;
    text-align: center;
  }
  
  /* Image styling */
  .flexboxContainer > div img {
    width: 80%;
    border-radius: 10px;
  }
  